main.main
  section.products
    .products__body
      h1.products__title #{goods[0]['name']}
      include ../products/products-category.pug
      .products__product.product
        .product__row
          .product__slider__body
            .slider
              .product-slider.swiper-container
                .product-slider__wrapper.swiper-wrapper
                  .product-slide.swiper-slide
                    .product-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-slide.swiper-slide
                    .product-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-slide.swiper-slide
                    .product-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-slide.swiper-slide
                    .product-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-slide.swiper-slide
                    .product-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-slide.swiper-slide
                    .product-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                .product-slider-button-prev
                .product-slider-button-next
              .product-mini-slider.swiper-container
                .product-mini-slider__wrapper.swiper-wrapper
                  .product-mini-slide.swiper-slide
                    .product-mini-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-mini-slide.swiper-slide
                    .product-mini-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-mini-slide.swiper-slide
                    .product-mini-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-mini-slide.swiper-slide
                    .product-mini-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-mini-slide.swiper-slide
                    .product-mini-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
                  .product-mini-slide.swiper-slide
                    .product-mini-slider__image
                      img(src=goods[0]['image'] alt=goods[0]['name'])
          .product__about
            h2.product__name #{goods[0]['name']}
            p.product__company Тов “Віко Банзай”
            p.product__price #{goods[0]['price']} грн. 
            .product__text
              p
                |#{goods[0]['description']}
            //- h3.product__wholesale-price Оптова ціна
            //- .wholesale-price
            //-   .wholesale-price__item
            //-     span.wholesale-price__count 1-10
            //-     span.wholesale-price__price 45 грн
            //-   .wholesale-price__item
            //-     span.wholesale-price__count 1-10
            //-     span.wholesale-price__price 45 грн
            //-   .wholesale-price__item
            //-     span.wholesale-price__count 1-10
            //-     span.wholesale-price__price 45 грн
            //-   .wholesale-price__item
            //-     span.wholesale-price__count 1-10
            //-     span.wholesale-price__price 45 грн
            //-   .wholesale-price__item
            //-     span.wholesale-price__count 1-10
            //-     span.wholesale-price__price 45 грн
            //- .product__count
            //-   .product__buttons
            //-     button.product__btn-minus
            //-       img(src="images/products/minus.png")
            //-     span.product__num.num 2
            //-     button.product__btn-plus
            //-       img(src="images/products/plus.png")
            //-   .product__sum-price
            //-     span 90
            //-     |  грн
            button.product__button-buy.btn.add-to-cart(type="button" data-goods_id=goods[0]['id']) Купити
            a.product__button-add.btn.add-to-cart(type="button" data-goods_id=goods[0]['id']) Добавити в корзину
        .product__info.product-info
          .product-info__col.red-col
            img(src="images/products/packaging.png")
            | 						Упаковка
          .product-info__col.black-col
            | Пластиковий стакан
          .product-info__col.red-col
            img(src="images/products/bar-code.png")
            | 						Штрих код
          .product-info__col.black-col
            | 4820006532161
          .product-info__col.red-col
            img(src="images/products/mass.png")
            | 						Маса нетто
          .product-info__col.black-col
            | #{goods[0]['weigth']} кг
          .product-info__col.red-col
            img(src="images/products/size.png")
            | 						Розмір упаковки
          .product-info__col.black-col
            | 9,5 × 9,0 см
          .product-info__col.red-col
            img(src="images/products/time.png")
            | 						Строк зберігання
          .product-info__col.black-col
            | #{goods[0]['expiration_date']} місяців
          .product-info__col.red-col
            img(src="images/products/size-box.png")
            | 						Розмір ящика
          .product-info__col.black-col
            | 38,0 × 27,8 × 13,5 см
          .product-info__col.red-col
            img(src="images/products/temperature.png")
            | 						Умови зберігання
          .product-info__col.black-col
            | За температури 0... + 6 °С
          .product-info__col.red-col
            img(src="images/products/box.png")
            | 						Кількість у ящику
          .product-info__col.black-col
            | #{goods[0]['amount_box']} штук
